@model SmallDesk.Models.ChangeRoleModel
@{
    ViewBag.Title = "Trocar Regra";
}

<h2>Troca de regra</h2>

@using (Html.BeginForm("ChangeRole", "Manage", new { userId = Model.UserId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserId)
    <h4>Escolha a nova regra</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Role, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Role, (List<SelectListItem>)ViewBag.Roles, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Alterar Regra" class="btn btn-default" />
        </div>
    </div>
}
