@using PagedList.Mvc;
@model PagedList.IPagedList<SmallDesk.Models.Issue>
@*model IEnumerable<SmallDesk.Models.Issue> *@

@{
    ViewBag.Title = "Chamados";
}


<style>
    .no-width-restriction {
        max-width: none;
    }
</style>

<h2>Chamados</h2>

<p>
    @Html.ActionLink("Criar novo", "Create", null, new { @class = "btn btn-default" })
    <button id="filter" class="btn btn-default" data-toggle="modal" data-target="#filterModel">
        <span><i class="glyphicon glyphicon-filter"></i></span> Filtros / Ordenação
    </button>
    <button id="printer" class="btn btn-default">
        <span><i class="glyphicon glyphicon-print"></i></span> Imprimir
    </button>
    <script>
        document.getElementById("printer").onclick = function () {
            window.open(location.search + "&returnPDF=true", "_blank");
        }
    </script>
</p>
@if (ViewBag.hasFilter || !String.IsNullOrEmpty(ViewBag.orderBy))
{
    <div class="alert alert-warning">
        <h4>Atenção!</h4>
        @if (ViewBag.hasFilter)
        {
            string filter = String.Empty;
            if (!String.IsNullOrEmpty(ViewBag.problem))
            {
                filter = "Desc. Problema";
            }
            if (!String.IsNullOrEmpty(ViewBag.supportUser))
            {
                filter = filter.IsEmpty() ? "Técnico" : filter + ", Técnico";
            }
            if (!String.IsNullOrEmpty(ViewBag.userThatReport))
            {
                filter = filter.IsEmpty() ? "Usuário Reportador" : filter + ", Usuário Reportador";
            }
            if (!ViewBag.closed)
            {
                filter = filter.IsEmpty() ? "Não Resolvidos" : filter + ", Não Resolvidos";
            }
            
            <p>O conteúdo está sendo filtrado por: <strong>@filter</strong></p>
        }
        
        @if (!String.IsNullOrEmpty(ViewBag.orderBy))
        {
            <p>O conteúdo está sendo ordenado por: <strong>@ViewBag.orderBy</strong></p>
        }
    </div>
}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>
                User Reportador
            </th>
            <th>
                Criado Em
            </th>
            <th>
                Data Máx.
            </th>
            <th>
                Data Resolução
            </th>
            <th>
                Desc. Problema
            </th>
            <th>
                Desc. Solução
            </th>
            <th>
                Resolvido?
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetUserThatReported)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResolvedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetShortDescProblem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetShortDescSolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSolved)
            </td>
            <td>
                @Html.ActionLink("Editar/Fechar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
                new { page = page, sortOrder = ViewBag.sortOrder, problem = ViewBag.problem,
                      supportUser = ViewBag.supportUser,
                      userThatReport = ViewBag.userThatReport,
                      closed = ViewBag.closed
                }))

<div id="filterModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Filtros</h4>
                
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Index", "Issue", FormMethod.Get, new { id = "filterForm", @class = "form-horizontal" }))
                {
                    <input type="hidden" name="page" id="page" value="@Model.PageNumber" />
                    <fieldset>
                        <div class="form-group">
                            <label for="problem" class="col-lg-2 control-label">Desc. Problema</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control no-width-restriction" 
                                       id="problem" name="problem" placeholder="Parte do problema"
                                       value="@(ViewBag.problem)"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="supportUser" class="col-lg-2 control-label">Técnico</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control no-width-restriction"
                                       id="supportUser" name="supportUser" placeholder="Técnico responsável"
                                       value="@(ViewBag.supportUser)"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="userThatReport" class="col-lg-2 control-label">Usuário Reportador</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control no-width-restriction"
                                       id="userThatReport" name="userThatReport" placeholder="Usuário reportador"
                                       value="@(ViewBag.userThatReport)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Ordenado por</label>
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sortOrder" 
                                               id="create_at" value="create_at"
                                               @(ViewBag.sortOrder == "create_at" ? "checked" : "")>
                                        Data de Inclusão (Asc) - Padrão
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sortOrder"
                                               id="create_at_desc" value="create_at_desc"
                                               @(ViewBag.sortOrder == "create_at_desc" ? "checked" : "")>
                                        Data de Inclusão (Desc)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sortOrder"
                                               id="support_user" value="support_user"
                                               @(ViewBag.sortOrder == "support_user" ? "checked" : "")>
                                        Nome do Técnico (Asc)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sortOrder"
                                               id="support_user_desc" value="support_user_desc"
                                               @(ViewBag.sortOrder == "support_user_desc" ? "checked" : "")>
                                        Nome do Técnico (Desc)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sortOrder"
                                               id="user_that_report" value="user_that_report"
                                               @(ViewBag.sortOrder == "user_that_report" ? "checked" : "")>
                                        Nome do Usuário (Asc)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sortOrder"
                                               id="user_that_report_desc" value="user_that_report_desc"
                                               @(ViewBag.sortOrder == "user_that_report_desc" ? "checked" : "")>
                                        Nome do Usuário (Desc)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="userThatReport" class="col-lg-2 control-label">Trazer Resolvidos?</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="closed" name="closed">
                                    <option value="true" @(ViewBag.closed ? "selected" : "")>Sim</option>
                                    <option value="false" @(!ViewBag.closed ? "selected" : "")>Não</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>

            }
            </div>
            <div class="modal-footer">
                <a href="/issue" class="btn btn-danger pull-left"><span><i class="glyphicon glyphicon-remove"></i></span> Limpar Tudo</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="javascript: document.getElementById('filterForm').submit()">Salvar</button>
            </div>
        </div>
    </div>
</div>