@model IEnumerable<SmallDesk.Models.Issue>

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<h3>Veja aqui os seus chamados</h3>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.UserThatReported_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResolvedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolutionData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSolved)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetUserThatReported)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResolvedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetShortDescProblem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetShortDescSolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSolved)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", "Issue", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
